.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999; /* Just below the counter number */
    display: flex;
}

.bar {
    width: 10vw;
    height: 100vh;
    background: #1a1a1a;
}

.counter {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 10000; /* Highest level */
    color: #bcbcc4;
    padding: 0.2em 0.4em;
    font-size: 20vw;
    font-family: var(--font-gravitas), Impact, sans-serif;
    line-height: 1;
    pointer-events: none;
}