img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;

}
.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
h1{
    color:#dbccc0;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1;
}
p{
    text-transform: uppercase;
    color: #dbccc0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}
button{
    border: none;
    outline: none;
    text-transform: none;
    font-size: 12px;
    font-weight: 600;
    margin: 0.25em 0;
    padding: 0.3em 0.75em 0.25em 0.75em;
    color: #0f0f0f;
    background-color: #dbccc0;
    border-radius: 2em;
}
section{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
section projects{
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 10em;
}
.projects_brief{
    position: absolute;
    width: 25%;
    top:35%;
    left: 35%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.projects_col{
    position: relative;
}
.col.project_cover{
    flex:1;
    height:50%;
}
.col.project_list{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.projects{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.about{
    display: flex;
    background-color: #68461f;
}
.intro .potrait{
    position: relative;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.intro p{
    width:50%;
    text-align: center;
}
.intro p:nth-child(1){
    text-decoration: underline;
    margin-bottom: 0.5em;
}
.potrait .potrait_container{
    position:relative;
    width: 100%;
    height: 100%;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_copy{
    position: relative;
    text-align: center;
}
.banner_copy h1{
    text-transform: uppercase;
}
.bnner p:nth-child(3){
    width: 75%;
    margin: 1em auto;
}