.hero {
  background: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.inner {
  width: 90%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  font-size: 14px;
  color: #777;
  margin-bottom: 12px;
}

.left h1 {
  font-size: clamp(48px, 6vw, 72px);
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -1.5px;
  margin-bottom: 40px;
}

.scroll {
  font-size: 13px;
  color: #111;
  text-decoration: none;
}

.right {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20%;

}

.right img {
  max-height: 70vh;
  width: auto;
}

/* Responsive */
@media (max-width: 900px) {
  .inner {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .right {
    margin-top: 40px;
    width: 100%;
  }

  .right img {
    max-height: 50vh;
  }
}
