img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 0.85rem;

    color:#4e4e4e;
}
.hero{
    position: relative;
    width: 100vw;
}
